.App {
  text-align: center;
}

h1{
  font-family: 'Tomorrow', sans-serif;
  font-size: 60px;
}

.div-eachAnswer{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  width: 60%;
  margin: auto;
  margin-top: 5px;
  cursor: pointer;
}

.div-eachAnswer-wrong{
  border: 1px solid red;
  border-radius: 5px;
  padding: 15px;
  width: 60%;
  margin: auto;
  margin-top: 5px;
  cursor: pointer;
}

.div-eachAnswer-right{
  border: 3px solid green;
  border-radius: 5px;
  padding: 15px;
  width: 60%;
  margin: auto;
  margin-top: 5px;
  cursor: pointer;
}

.difficultyButtons{
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 5px;
  cursor: pointer;
}

.playButton{
  font-family: 'Tomorrow', sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 5px;
  margin: 30px 0px;
  cursor: pointer;
}

.nextAndPlayAgainButton{
  font-family: 'Tomorrow', sans-serif;
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 5px;
  margin: 30px 0px;
  background-color: #ccc;
  text-transform: uppercase;
  cursor: pointer;
}

#home-button{
  cursor: pointer;
}

#div-result{
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 15%;
  padding: 15px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 30px;
}

#gif-result{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px; 
}

a{
  text-decoration: none;
  color: gray;
}

.displayed{
  display: block;
}

.notDisplayed{
  display: none;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

hr{
  width: 80%;
}




